/******************Reset y variables***************/

@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

:root{
    --rojo-primario:#f44;
    --verde-primario:#3d3;
    --rojo-primario-hover:#d22;
    --verde-primario-hover:#0c0;
    --gris-menu:#ccc;
    --negro-menu:#333;
}

/*****************Basic styles****************/

body{
    background-image:url(../img/fondo.png);
    font-family:'Sansita',sans-serif;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:1fr;
    height:100vh;
}

.grid > *{
    position:relative;
}

.luna{
   text-align:center;
   position:fixed;
   width:100%;
   height:20%;
   bottom:0;
   z-index:0;
}

.luna__movil{
    display:none;
}

.luna__img{
   height:125%;
}

/******************Utilidades******************************/

.flex{
    display:flex;
    justify-content:center;
    align-items:center;
}

.background{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
}

/******************Botonera*********************/

.botonera > *{
    position:absolute;
    right:50px;
    padding:30px;
    font-size:42px;
    border-radius:12px;
    cursor:pointer;
    color:#fff;
    transition:background-color .4s;
}

.pause{
    top:50px;
    background-color:var(--rojo-primario);
}

.reiniciar{
    top:205px;
    background-color:var(--verde-primario);
}

.pause:hover{
    background-color:var(--rojo-primario-hover);
}

.reiniciar:hover{
    background-color:var(--verde-primario-hover);
}

/*******************Marcadores********************/

.marcadores__menu{
    position:absolute;
    top:50px;
    left:50px;
    border-radius:12px;
    opacity:.8;
    width:40%;
}

.marcadores__item{
    margin-bottom:20px;
    font-size:1.6vw;
    padding:10px 15px;
    background-color:var(--negro-menu);
    border-radius:12px;
    color:#fff;
}

.marcadores__item svg{
    color:#ccc;
    margin-right:auto;
}

.marcadores__fuel{
    width:100%;
    height:20px;
    background-color:var(--verde-primario);
    margin-left:10px;
    position:relative;
}

.marcadores__fuel-negativo{
    position:relative;
    width:0%;
    background-color:var(--rojo-primario);
    height:20px;
}

.marcadores__numero{
    margin-left:auto;
    background-color:#333;
    text-align:center;
    padding:4px;
    color:#fff;
    border-radius:10px;
}

.marcadores__texto{
    margin-left:10px;
}

/**************************Alien***************************/

.nave__alien{
    position:absolute;
    width:40%;
    bottom:130px;
    left:-100px;
}

.nave__alien img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/**************************Nave pj***************************/
.nave__contenedor{
    position:absolute;
    text-align:center;
    height:23%;
    width:100%;
}

.nave__pj{
    height:100%;
}

/****************************Modales***************************/
.modal{
    width:100%;
    height:100%;
    background-color:rgba(70,70,70,.5);
    position:absolute;
    z-index:3;
    top:0;
    visibility:visible;
    display:flex;
}

.modal__inner{
    width:500px;
    height:500px;
    border-radius:12px;
    display:flex;
    background-image:url(../img/fondo.png);
    filter:contrast(3);
    margin:auto;
}

.modal__menu{
    margin:auto;
    text-align:center;
    width:90%;
}

.modal__item{
    width:90%;
    border:2px solid rgb(192, 192, 192);
    margin:30px auto;
    border-radius:10px;
    padding:16px;
    cursor:pointer;
    font-size:25px;
    background-color:#333;
    opacity:.4;
}
.modal__link{
    color:#fff;
}

@media screen and (min-width:1500px){
    .marcadores__item{
        font-size:25px;
    }
}

@media screen and (max-width:994px){
    .marcadores__texto{
        display:none;
    }

    .marcadores__item{
        font-size:22px;
    }

    .marcadores__fuel{
        height:10px;
        margin:0;
    }

    .marcadores__menu{
        left:10px;
        top:10px;
    }

    .botonera > *{
        right:10px;
        padding:20px;
        font-size:32px;
    }

    .pause{
        top:20px;
    }

    .reiniciar{
        top:138px;
    }

    .marcadores__item{
        display:block;
        width:90px;
    }

    .marcadores__menu{
        border-radius:12px;
        width:auto;
        background-color:var(--negro-menu);
    }

    .marcadores__item {
        text-align:center;
    }

    .marcadores__numero{
        margin-top:5px;
    }

    .luna img{
        height:100%;
    }
    
}

@media screen and (max-width:500px){

   .luna__movil{
       display:inline-block;
       height:100%;
   }
   .luna__img{
       display:none;
   }

    .botonera>*{
        padding:10px;
    }

    .reiniciar{
        top:100px;
    }

    .marcadores__item{
        width:70px;
        font-size:16px;
        margin-bottom:0;
    }
}
